.blog-topic{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
    color: aqua;
    width: 100%;
    max-width: 500px;
    border: 2px solid purple;
    overflow:hidden;
    border-radius: 15px;
    transition-duration: 0.7s;
    background: linear-gradient(to right, purple, transparent);
}
.blog-topic:hover{
    border: 3px solid aqua;
    transform:translateY(-10px)
}

.cover{
    height: 150px;
    object-fit:cover;
    z-index: 1;
    filter: drop-shadow(0px 0px 20px);
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
    z-index: 0;
    text-shadow: 2px 2px 2px black;
}

.text-container p{
    font-size: 14px;
    padding-left: 10px;
    text-align: left;
    text-wrap:wrap;
    width: 85%;
}

@media (min-width: 1025px) and (max-width: 1400px) {
    
}

@media (min-width: 700px) and (max-width: 1024px) {
    .blog-topic{
        width: 400px;
    }
    .cover{
        height: 150px;
    }
    .text-container{
        width: 400px;
    }
    .text-container p{
        font-size: 12px;
        
    }
}

@media (min-width: 300px) and (max-width: 699px) {
    .blog-topic{
        font-size: 14px;
        width: 300px;
    }
    .cover{
        height: 80px
    }
    .text-container{
        width: 300px;
    }
    .text-container p{
        font-size: 12px;
        text-wrap: wrap;
    }
}

@media (max-width: 299px) {
    .blog-topic{
        font-size: 14px;
        width: 260px;
    }
    .cover{
        height: 80px;
    }
    .text-container{
        width: 120px;
    }
    .text-container p{
        font-size: 12px;
        
    }
}