@import url('Animations.css');

.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./Resources/HomeBackground.jpg');
    background-size: 25%;
}

.hello{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    font-size: 30px;
    text-align: center;
    background: linear-gradient(to bottom , #141414 , transparent);

}

.name{
    margin-left: 10px;
    color: transparent;
    font-weight: 700;
    background: linear-gradient(to left, purple, aqua);
    -webkit-background-clip: text;
    font-size: 40px;
    text-align: center;
    white-space: nowrap;
}

.name::before {
    content: "Maric, "; 
    animation: changeContent 6s linear forwards;
}

.home p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    font-size: 25px;
}

.home p img{
    width: 100px;
}

.link-span{
    text-decoration: none;
    padding: 5px;
    font-weight: 800;
    color: blueviolet;
    transition-duration: 0.6s;
    border-radius: 20px;
}
.link-span:hover{   
    color: black;
    transform: scale(1.4);
    background-color: rgba(0, 255, 255, 0.5);
    width: max-content;
    cursor: pointer;
    border-bottom: blueviolet 2px solid;
}
.end-page{
    height: 100px;
    background: linear-gradient(to top, #141414, transparent);
    width: 100%;
}

@media screen and (max-width: 1400px){
    .home{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .hello{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        text-align: center;
        font-size: 28px;
    }
    
    .name{
        margin-left: 10px;
        color: transparent;
        font-weight: 700;
        background: linear-gradient(to left, purple, aqua);
        -webkit-background-clip: text;
        font-size: 35px;
        text-align: center;
        white-space: nowrap;
    }
    
    .name::before {
        content: "Maric, "; 
        animation: changeContent 6s linear forwards;
    }
    
    .home p{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 30px;
        font-size: 20px;
        gap: 10px;
    }
    
    .home p img{
        width: 40px;
    }
}

@media screen and (max-width: 768px)
{
    .hello{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        padding: 30px;
        width: 70%;
    }
    
    .name{
        margin-left: 10px;
        color: transparent;
        font-weight: 700;
        background: linear-gradient(to left, purple, aqua);
        -webkit-background-clip: text;
        font-size: 40px;
        text-align: center;
        white-space: nowrap;
    }
    
    .name::before {
        content: "Maric, "; 
        animation: changeContent 6s linear forwards;
    }
    
    .home p{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        font-size: 20px;
    }
    
    .home p img{
        padding: 10px;
        width: 100px;
    }
}

@media screen and (max-width: 576px)
{
    .hello{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        padding: 30px;
        width: 70%;
    }
    
    .name{
        margin-left: 10px;
        color: transparent;
        font-weight: 700;
        background: linear-gradient(to left, purple, aqua);
        -webkit-background-clip: text;
        font-size: 30px;
        text-align: center;
        white-space: nowrap;
    }
    
    .name::before {
        content: "Maric, "; 
        animation: changeContent 6s linear forwards;
    }
    
    .home p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        font-size: 18px;
    }
    
    .home p img{
        padding: 10px;
        width: 50px;
    }
}